<!DOCTYPE HTML>
<html>
<head>
    <title>getSummonerId HBS Test Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--부트스트랩 css 추가-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/lib/style.css">
</head>
<body>
    <h1>Input your Summoner Id </h1>
    <div>
		<form>
			<input type="text" class="form-control" id="searchId" placeholder="input your summoner Id">
			<input type="text" class="form-control" id="searchRegion" placeholder="input your summoner Region">
		</form>
		<button type="button" class="btn btn-primary" id="btn-search">search</button>
	</div>
    <!--부트스트랩 js, jquery 추가-->
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>

    <!--custom js 추가-->
    <script src="/js/app/getSummonerId.js"></script>
    <script src="/js/app/stylejs.js"></script>
</body>
</html>
